<!DOCTYPE html>
<html lang="cs" class="hp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>{ifset title}{include title|stripHtml} | {/ifset}Survivor Lodín 2026</title>

    {asset? 'main.js'}
</head>

<body>
<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

{include content}
</body>
</html>
