services:
  - App\Core\Authenticator
  - App\Core\DomainProvider(%knownDomains%)
  - App\Model\MemberPhotoStorage(%wwwDir%/upload/teams)
  router: App\Core\RouterFactory::createRouter()


search:
  - in: %appDir%
    classes:
      - *Facade
      - *Factory
      - *Repository
      - *Service
